VITE_SUPABASE_URL=https://obnqywgeaxxbdzhigylh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ibnF5d2dlYXh4YmR6aGlneWxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMDgwMTEsImV4cCI6MjA5Mzc4NDAxMX0.9u0P6vFIEKe7_9j_RZv7_YikOEf3c3wdQ9SdgBgG6uw
